.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  margin-top: 2px; /* Height of the fixed navbar */
}

.content-container {
  padding-top: 20px; /* Add margin to the components */
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ml-auto {
  margin-left: auto;
}

.custom-button {
  color: black;
  border: 2px solid green;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}

.custom-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: green;
  transition: all 0.5s ease;
  z-index: -1;
}

.custom-button:hover {
  color: white;
}

.custom-button:hover::before {
  width: 100%;
}


.custom-link-button {
  color: black;
  border: 1px solid blue;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}

.custom-link-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: blue;
  transition: all 0.5s ease;
  z-index: -1;
}

.custom-link-button:hover {
  color: white;
}

.custom-link-button:hover::before {
  width: 100%;
}


